server { 
  listen 80; 
  server_name {{ domainname }}; 
  error_page   500 502 503 504  /50x.html; 
  access_log /var/log/nginx/default.access.log; 
  error_log /var/log/nginx/default.error.log; 
  root {{ wp_root }}; 
  index index.php; 
  error_log  /var/log/nginx/{{ domainname }}.error.log notice;
  access_log  /var/log/nginx/{{ domainname }}.access.log;
  location = /50x.html { 
      root   /usr/share/nginx/html; 
  } 
  location / { 
    try_files $uri $uri/ /index.php; 
  } 
  location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt)$ {
    access_log        off;
    expires           max;
  }
        location ~ \.php$ { 
                try_files $uri =404; 
                fastcgi_split_path_info ^(.+\.php)(/.+)$; 
                fastcgi_pass {{ upstream_addr }}:9000; 
                fastcgi_index index.php; 
                include fastcgi_params; 
                fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name; 
        } 
}
